/*This is gregory's code*/
/*hello this is schmidy*/

html, body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif
}

.parameterBox {
	margin: 3px;
	padding: 1px;

}
.parameterBox input {
	border: none;
	border-bottom-width: 0;
	border-radius: 1px;
	border-style: none;
	background-color: #fff;
	font-family:'Roboto', sans-serif;
	border-radius: .5px;
	border-style: none;

}

#sideBarList{
	margin: 3px;
	padding: 1px;
	font-size: 14pt;
}

#sideBarList a {
	background-color: #C9C9C9;
	padding: 2px;
	border-radius: 8px;
}

#colorChanger {
    border: none;
	border-bottom-width: 0;
	border-radius: 1px;
	border-style: none;
	background-color: #fff;
	font-family:'Roboto', sans-serif;
	border-radius: .5px;
	border-style: none;
}

/*EOF Gregorys code*/
#topBar{
    background-color: #DDDDDD;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 50px;
}

#sideBar{
    position:absolute;
    background-color: #BBBBBB;
    top:50px;
    left:0;
    width:300px;
    height: calc(100% - 50px);
    overflow: scroll;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

#keyMenu{
    display: none;
}

#listButton{
    left: 0px;
}

#shapeButton{
    left:60px;
}

#cameraButton{
    left:120px;
}

#keyButton{
    left:180px;
}
#sceneButton{
    left:240px;
}

#settingsButton{
    right:0;
}

#colorButton{
    right:60px;
}
#meshButton{
    right:120px;
}

#saveButton{
    right:180px;
}

#userButton{
    right:240px;
}

.topButton{
    position:absolute;
    top:0;
    height:50px;
    width: 60px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.topButton:hover  {
    background-color:#C9C9C9;
}


body { margin: 0; }

canvas { width: 100%; height: 100% }

#mainWindow{
    position:absolute;
    top:50px;
    left:300px;
    bottom:0px;
    right:0px;
}

.objButton {
    background-color: #D3D3D3;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 8px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}
.addButton {
    border: 2px solid #228B22;
}

.addButton:hover {
    background-color: #228B22;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.removeButton {
    border: 2px solid #DD0000;
}

.removeButton:hover {
    background-color: #DD0000;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.meshGroup button {
    background-color: #C0C0C0;
    border: 1px solid #808080;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

/* Clear floats (clearfix hack) */
.meshGroup:after {
    content: "";
    clear: both;
    display: table;
}

.meshGroup button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.meshGroup button:hover {
    background-color: #808080;
}

.setGroup button{
    background-color: #C0C0C0;
    border: 1px solid #808080;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    display: block;
    border-radius: 5px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

/* Clear floats (clearfix hack) */
.setGroup:after {
    content: "";
    clear: both;
    display: table;
}

.setGroup button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.setGroup button:hover {
    background-color: #808080;
}

select{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50%;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}