/*This is gregory's code*/

.parameterBox {
	font-family: "Comic Sans MS";
	margin: 3px;
	padding: 1px;

}
.parameterBox input {
	border-color: none;
	border-bottom-width: 0;
	border-radius: .5px;
	border-style: none;

}


/*EOF Gregorys code*/
#topBar{
    background-color: #DDDDDD;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 50px;
}
#sideBar{
    position:absolute;
    background-color: #BBBBBB;
    top:50px;
    left:0;
    width:300px;
    height: calc(100% - 50px);
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
#settingsButton{
    position:absolute;
    top:0;
    right:0;
}
#cubeButton{
    position:absolute;
    top:0px;
    left:60px;
    height:50px;
    width:60px;
}
#listButton{
    position: absolute;
    top: 0px;
    left: 0px;
}
#colorButton{
    position:absolute;
    top:0;
    right: 60px;
}
#sizeButton{
    position:absolute;
    top:0;
    right: 120px;
}
body { margin: 0; }
canvas { width: 100%; height: 100% }
#mainWindow{
    position:absolute;
    top:50px;
    left:300px;
    bottom:0px;
    right:0px;
}
