@charset "UTF-8";
/*Le New Style!*/


/*
COLORS:
Primary: #E5E5E5
Secondary: #288945
Accent: #00AF2D

H1: #000
H2: #282828
P: #000
.microP: #00AF2D

 */


/*Keyframes!*/
@keyframes ws_boxes {
    from{
        right: 0;
    }
    to{
        right: 100%;
    }
}

@keyframes ws_text {
    from{
        left: 10%;
        top: 75%;
    }
    /*
    50%{
        top: 10%;

    }
    */
    to{
        left: 25%;
        top: 10%;
    }
}
/*General*/
*{
    margin: 0;
    padding: 0;
}


h1{
    font-size: 60pt;
    font-family: "Roboto Slab", serif;
    position: absolute;
    left: 10%;
    top: 75%;
}


/*Welcome Screen*/
#welcomeScreen {
    position: absolute;
    top:0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    text-align: center;
    background-color: #288945;
    color: #E5E5E5;
    /*
    animation-delay: 8s;
    animation-iteration-count: 1;
    animation: wa_boxes 2s;
    animation-fill-mode: forwards;
    */

}

.ws_text{
    animation-name: ws_text;
    animation-delay:5s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

#ws_body{

}

#ws_box1{
    position: fixed;
    top:0;
    width: 100%;
    min-height: 100%;
    background-color: #E5E5E5;
    color:#288945;
    /*Animation Stuffs*/
    animation-name: ws_boxes;
    animation-duration: 1.3s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

}

#ws_box2 {
    position: absolute;
    top:0;
    width: 100%;
    min-height: 100%;
    background-color: #00AF2D;

    /*Animation Stuffs*/
    animation-name: ws_boxes;
    animation-duration: 1.4s;
    animation-delay: 3.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

#ws_box3 {
    position: absolute;
    top:0;
    width: 100%;
    min-height: 100%;
    background-color: #E5E5E5;

    /*Animation Stuffs*/
    animation-name: ws_boxes;
    animation-duration: 1.25s;
    animation-delay: 3.51s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}






